.gitattributes
.github/**
.gitignore
.prettierignore
.vscode/**
bun.lock
bunfig.toml
cspell.config.jsonc
eslint.config.mjs
knip.config.js
node_modules/**
PLAN.md
prettier.config.mjs
README.md
src/**
scripts/**
tsconfig.json
